@page "/ugyfel/add"
@using AutoSzereloMuhely.Domain

@using AutoSzereloMuly.Client.Services
@inject IUgyfelService UgyfelService
@inject NavigationManager NavigationManager

<h3>Adjon hozzá ügyfelet!</h3>

<UgyfelForm Ugyfel="_ugyfel" OnValidSubmit>
    
</UgyfelForm>

@code {
    private Ugyfel _ugyfel = new();

    private async Task AddUgyfelAsync()
    {
        await UgyfelService.AddUgyfelAsync(_ugyfel);
        NavigationManager.NavigateTo("/ugyfel");
    }
}