@page "/"
<link href="css/mainMenu.css" rel="stylesheet" />

<PageTitle>AutoSzerelő Műhely</PageTitle>

<div class="container">
    <h1 class="display-4">Üdvözöljük az AutoSzerelő Műhely rendszerében!</h1>

    <p class="fs-5">
        Kérjük, válasszon egy műveletet a bal oldali menüből az ügyfelek vagy munkák kezeléséhez.
    </p>

    <p class="text-secondary">
        A rendszer segítségével nyomon követheti az ügyfelek adatait és a javításra váró munkákat.
    </p>
</div>