@page "/ugyfel/add"
@using AutoSzereloMuhely.Domain
@using AutoSzereloMuhely.Client.Services

@inject IUgyfelService UgyfelService
@inject NavigationManager NavigationManager

<h3>Adjon hozzá ügyfelet!</h3>

<UgyfelForm Ugyfel="_ugyfel" OnValidSubmit="AddUgyfelAsync" ButtonText="Mentés" />

@code {
    private Ugyfel _ugyfel = new();

    private async Task AddUgyfelAsync()
    {
        await UgyfelService.AddUgyfelAsync(_ugyfel);
        NavigationManager.NavigateTo("/ugyfelek");
    }
}