@page "/ugyfelek"
@using AutoSzereloMuhely.Domain
@using AutoSzereloMuhely.Client.Services
@inject IUgyfelService UgyfelService
@inject NavigationManager NavigationManager

<h3>Ügyfélkezelés</h3>

<button class="btn btn-primary mb-3" @onclick="NavigateToAdd">+ Új ügyfél</button>
@if (ugyfelek is null)
{
    <p>Ügyféladatok betöltése folyamatban...</p>
}
else if (!ugyfelek.Any())
{
    <p>Nincs rögzített ügyfél.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Név</th>
            <th>Email</th>
            <th>Lakcím</th>
            <th>Műveletek</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ugyfel in ugyfelek)
        {
            <tr>
                <td>@ugyfel.UgyfelNev</td>
                <td>@ugyfel.Email</td>
                <td>@ugyfel.Lakcim</td>
                <td>
                    <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteUgyfel(ugyfel.UgyfelId))">Törlés</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    
    private List<Ugyfel> ugyfelek;

    protected override async Task OnInitializedAsync()
    {
        ugyfelek = await UgyfelService.GetAllUgyfelAsync();
    }

    private void NavigateToAdd()
    {
        NavigationManager.NavigateTo("/ugyfel/add");
    }

    private async Task DeleteUgyfel(int id)
    {
        await UgyfelService.DeleteUgyfelAsync(id);
        ugyfelek = await UgyfelService.GetAllUgyfelAsync();
    }
}