@using AutoSzereloMuhely.Domain
@namespace AutoSzereloMuhely.Client.Components
<EditForm Model="Ugyfel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Név</label>
        <InputText @bind-Value="Ugyfel.UgyfelNev" class="form-control" />
        <ValidationMessage For="() => Ugyfel.UgyfelNev" />
    </div>
    <div class="mb-3">
        <label class="form-label">Lakcím</label>
        <InputText @bind-Value="Ugyfel.Lakcim" class="form-control" />
        <ValidationMessage For="() => Ugyfel.Lakcim" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText type="email" @bind-Value="Ugyfel.Email" class="form-control" />
        <ValidationMessage For="() => Ugyfel.Email" />
    </div>

    <button type="submit" class="btn btn-primary">@ButtonText</button>
</EditForm>

@code {
    [Parameter] public Ugyfel Ugyfel { get; set; } = new();
    [Parameter] public Func<Task>? OnValidSubmit { get; set; }
    [Parameter] public string? ButtonText { get; set; }
}